.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.card-content {
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  background: var(--secondary-xdark);
  display: flex;
  gap: 64px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.mock-up-container {
  display: none;
}

.mock-up {
  width: 100%;
  max-width: 764px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.type-project {
  background-color: var(--grey-800);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  width: fit-content;
  padding: 6px 15px;
  justify-content: center;
  color: var(--white-main);
  font-family: Poppins;
  font-weight: 700;
  font-size: var(--space-lg);
  // font-size: var(--space-md);
}

.text-container {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  gap: 30px;
}

.title-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    color: var(--white-main);
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
  }
}

.chip-container {
  display: flex;
  gap: 8px;

  .chip {
    display: flex;
    padding: 1px 6px;
    border: 1px solid var(--secondary-light);
    border-radius: 15px;
    width: fit-content;
    gap: 5px;
  }

  p {
    color: var(--secondary-light);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
  }

  .icon {
    width: 100%;
    max-width: 10px;
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description {
  background-color: var(--secondary-dark);
  border-radius: 10px;
  width: fit-content;
  max-width: 400px;
  padding: 20px 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: var(--space-lg);
  color: var(--white-main);
}

.full-project {
  width: 100%;
  padding: 12px 0px;
  background-color: var(--secondary-light);
  border-radius: 30px;
  border: none;
  font-family: Poppins;
  font-weight: 600;
  font-size: var(--space-lg);
  cursor: pointer;
}

.full-project:hover {
  display: inline-block;
  border: 1px solid var(--secondary-light);
  background-color: transparent;
  color: white;
}

.left {
  padding-right: 64px;
  .mock-up {
    margin-top: -50px;
    margin-left: -80px;
  }
}

.right {
  padding-left: 64px;
  .mock-up {
    margin-top: -50px;
    margin-right: -80px;
  }
}
